
.idea/workspace.xml
app/build/generated/ap_generated_sources/debug/out/androidx/databinding/DataBinderMapperImpl.java
app/build/generated/ap_generated_sources/debug/out/androidx/databinding/DataBindingComponent.java
app/build/generated/ap_generated_sources/debug/out/androidx/databinding/library/baseAdapters/BR.java
app/build/generated/ap_generated_sources/debug/out/com/example/IndustryProject/BR.java
app/build/generated/ap_generated_sources/debug/out/com/example/IndustryProject/DataBinderMapperImpl.java
app/build/generated/ap_generated_sources/debug/out/com/example/IndustryProject/DataBinderMapperImpl.java
